
body {
    width: 100%;
    height: 100%;


}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

 h1 {
  font-family: 'Ultra', serif;
  float: left;
}

.intro-section h1{
  padding-top: 50px;
  font-size: 60px;
}

.intro-section h1, h3 {
  float: none;
  text-align: center;
  font-family: 'Ultra', serif;
}
.intro-section h3 {
  padding-top: 2px;
}

#intro p {
  padding-top: 50px;
  clear: both;
}


.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url(images/277H.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    background-image: url(images/headshot_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about-section h1{
  color: #D0D1C5;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: right;
    background: #fff;
    background-image: url(images/301H.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.services-section h1 {
  float: right
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
    background-image: url(images/283H.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-section h1 {
  /*float: right*/
}

.skills-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url(images/134H.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.navbar-collapse{
  position: fixed;
}*/

.nav li a {
    font-family: 'Ultra', serif;
    font-size: 20px;
    color: grey;
}

.navbar-header button{
  text-align: center;
}

.soc_media_buttons a{
  font-size: 25px;
  padding-bottom: 9px
}
/*.navbar {
  display: none;
}
